torch==1.12.1
torchvision==0.13.1
diffusers[torch]==0.11.1
transformers>=4.25.1
bitsandbytes==0.35.4
decord==0.6.0
pytorch-lightning<2
omegaconf==2.2.3
nerfacc==0.3.3
trimesh==3.9.8
pyhocon==0.3.57
icecream==2.1.0
PyMCubes==0.1.2
xformers
accelerate
modelcards
einops
ftfy
piq
matplotlib
opencv-python
imageio
imageio-ffmpeg
scipy
pyransac3d
torch_efficient_distloss
tensorboard
rembg
